# IDE files
.idea/
!/.idea/gradle.xml
!/.idea/misc.xml
!/.idea/runConfigurations/
!/.idea/vcs.xml

# Gradle
.gradle/
build/
local.properties

# Android
captures/
*.apk
*.aab
*.ap_
*.dex
*.iml

# Other
.DS_Store
.cxx/
.externalNativeBuild/